<div class="root">
    <div class="image-div">
        <img src={{data.url}} [alt]="data.name" />
    </div>
    <div class="content-div">
        <div class="content-internal-div">
            <div class="name-div">
                <h3>{{data.name}}</h3>
                <p>{{data.category}}</p>
            </div>
            <div class="pricing-div">
                <h2>Rs.{{data.basePrice}}</h2>
                <div *ngIf="enableUpdate" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" style="margin-right: 20px;">
                    <h2></h2>
                    <div>
                        <button mat-icon-button (click)="update()"><mat-icon>edit</mat-icon></button>
                        &nbsp;&nbsp;
                        <button mat-icon-button (click)="delete()"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <h5>{{data.description}}</h5>
    </div>
</div>